<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yunyou.yike">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    //百度地图
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    //极光
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="750"/>
        <meta-data
            android:name="design_height"
            android:value="1334"/>

        <!-- 高德地图   7ff07ef29f0c78801504d0828987e0fe -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7ff07ef29f0c78801504d0828987e0fe"/>
        <!-- 融云 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yunyou.yike.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path"/>
        </provider>

        <!-- 登陆界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/login"/>

        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.yunyou.yike"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>

        <!-- 融云会话详情 -->
        <activity
            android:name=".activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.yunyou.yike"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
                <data
                    android:host="com.yunyou.yike"
                    android:pathPrefix="/push_message"
                    android:scheme="rong"/>
            </intent-filter>
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW"/> -->


            <!-- <category android:name="android.intent.category.DEFAULT"/> -->


            <!-- <data -->
            <!-- android:host="com.yunyou.yike" -->
            <!-- android:pathPrefix="/push_message" -->
            <!-- android:scheme="rong"/> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 查看html 界面 -->
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 权限请求界面 -->
        <activity
            android:name=".activity.PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/notAnimation"/>
        <!-- 找工人界面 -->
        <activity
            android:name=".activity.LookingWorkersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 装修工人 -->
        <activity
            android:name=".activity.DecorationWorkerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 找工作列表界面 -->
        <activity
            android:name=".activity.JobActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 订单详情界面 -->
        <activity
            android:name=".activity.OrderInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 信息管理界面 -->
        <activity
            android:name=".activity.XinxiGuanliActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <!-- 我的钱包余额界面 -->
        <activity
            android:name=".activity.QianbaoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 我的余额界面 -->
        <activity
            android:name=".activity.MyYueActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 选择地址界面 -->
        <activity
            android:name=".activity.AddressActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing"/>
        <!-- 地图选点界面 -->
        <activity
            android:name=".activity.MapAddressActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing"/>
        <!-- 1为最新公告  2服务协议   3平台奖惩   4学习园地   5评分说明 -->
        <activity
            android:name=".activity.MyAppInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- 银行卡界面 -->
        <activity
            android:name=".activity.BankActivity"
            android:screenOrientation="portrait"/>

        <!-- 添加银行卡界面 -->
        <activity
            android:name=".activity.AddBankActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- 发布感想界面 -->
        <activity
            android:name=".activity.SendFeelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


        <!-- 百度地图开始 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0YS6zqGX04wQSS95IhRFIeNffUFcjGdw"/> <!-- //key:开发者申请的Key -->


        <!-- 百度地图结束 -->


        <!-- 融云自定义广播接收器 -->
        <receiver
            android:name=".RongIM.RongIMNotificationReceive"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>